instaloader==4.10.2
Kivy==2.2.1
selenium==4.18.1
plyer==2.1.0
kivymd @ git+https://github.com/kivymd/KivyMD.git@1152d3c31229b357336cb9e19cfaa2ba8c6941bc#egg=kivymd
Pillow==10.2.0
pyperclip==1.8.2
tk==0.1.0
sphinx
sphinx-autodoc-typehints
sphinx-book-theme
autoapi==2.0.0
